[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
scipy = "*"
ahpy = "*"
requests = "*"
openrouteservice = "*"
branca = "*"
folium = "*"


[dev-packages]

[requires]
python_version = "3.10"
