<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>15 Minute Index Calculator</title>

    <script>
        function checkSelections() {
            var amenity1 = document.getElementById("amenity1").value;
            var amenity2 = document.getElementById("amenity2").value;
            var amenity3 = document.getElementById("amenity3").value;

            if (amenity1 === amenity2 || amenity1 === amenity3 || amenity2 === amenity3) {
                alert("Please select 3 different amenities.");
                return false;
            }
        }
    </script>

</head>

<body>
    <h1>15 Minute Index Calculator</h1>
    <form method="POST" action="/result" onsubmit="return checkSelections();">
        <h2>Define Location, Walk Time and Amenities</h2>
        <h2>Latitude and Longitude of the location</h2>
        <label for="let">Latitude:</label>
        <input type="text" id="lat" name="lat" placeholder="Enter latitude value" required>

        <label for="long">Longitude:</label>
        <input type="text" id="long" name="long" placeholder="Enter longitude value" required>
        <br><br>
        <h2>Maximum walk time</h2>
        {% for i in range(1, 5) %}
        <label>{{ 5*i }}</label>
        <input type="radio" name="walking_time" value="{{ 5*i }}" required>
        {% endfor %}

        <h2>Select Amenities</h2>
        <label for="amenity1">Amenity 1:</label>
        <select id="amenity1" name="amenity1">
            <option value="">Select an amenity</option>
            <option value="kindergarten">Kindergarten</option>
            <option value="supermarket">Supermarket</option>
            <option value="hairdresser">Hairdresser</option>
            <option value="bank">Bank</option>
            <option value="school">School</option>
            <option value="university">University</option>
            <option value="hospital">Hospital</option>
            <option value="park">Park</option>
            <option value="restaurant">Restaurant</option>
            <option value="bar">Bar</option>
            <option value="cafe">Cafe</option>
        </select>

        <label for="amenity2">Amenity 2:</label>
        <select id="amenity2" name="amenity2">
            <option value="">Select an amenity</option>
            <option value="kindergarten">Kindergarten</option>
            <option value="supermarket">Supermarket</option>
            <option value="hairdresser">Hairdresser</option>
            <option value="bank">Bank</option>
            <option value="school">School</option>
            <option value="university">University</option>
            <option value="hospital">Hospital</option>
            <option value="park">Park</option>
            <option value="restaurant">Restaurant</option>
            <option value="bar">Bar</option>
            <option value="cafe">Cafe</option>
        </select>

        <label for="amenity3">Amenity 3:</label>
        <select id="amenity3" name="amenity3">
            <option value="">Select an amenity</option>
            <option value="kindergarten">Kindergarten</option>
            <option value="supermarket">Supermarket</option>
            <option value="hairdresser">Hairdresser</option>
            <option value="bank">Bank</option>
            <option value="school">School</option>
            <option value="university">University</option>
            <option value="hospital">Hospital</option>
            <option value="park">Park</option>
            <option value="restaurant">Restaurant</option>
            <option value="bar">Bar</option>
            <option value="cafe">Cafe</option>
        </select>

        <br><br>
        <h2>Define Your Prefered Options:</h2>
        <h2>Density vs Diversity</h2>
        <label>Left option better</label>
        <input type="radio" name="avb-pref" value="left" required>
        <label>Right option better</label>
        <input type="radio" name="avb-pref" value="right" required>
        ||
        {% for i in range(1, 10) %}
        <label>{{ i }}</label>
        <input type="radio" name="avb" value="{{ i }}" required>
        {% endfor %}
        <br><br>

        <h2>Density vs Proximity</h2>
        <label>Left option better</label>
        <input type="radio" name="avc-pref" value="left" required>
        <label>Right option better</label>
        <input type="radio" name="avc-pref" value="right" required>
        ||
        {% for i in range(1, 10) %}
        <label>{{ i }}</label>
        <input type="radio" name="avc" value="{{ i }}" required>
        {% endfor %}
        <br><br>

        <h2>Diversity vs Proximity</h2>
        <label>Left option better</label>
        <input type="radio" name="bvc-pref" value="left" required>
        <label>Right option better</label>
        <input type="radio" name="bvc-pref" value="right" required>
        ||
        {% for i in range(1, 10) %}
        <label>{{ i }}</label>
        <input type="radio" name="bvc" value="{{ i }}" required>
        {% endfor %}
        <br><br>

        <h2>Amenity 1 vs Amenity 2</h2>
        <label>Left option better</label>
        <input type="radio" name="pavb-pref" value="left" required>
        <label>Right option better</label>
        <input type="radio" name="pavb-pref" value="right" required>
        ||
        {% for i in range(1, 10) %}
        <label>{{ i }}</label>
        <input type="radio" name="pavb" value="{{ i }}" required>
        {% endfor %}
        <br><br>

        <h2>Amenity 1 vs Amenity 3</h2>
        <label>Left option better</label>
        <input type="radio" name="pavc-pref" value="left" required>
        <label>Right option better</label>
        <input type="radio" name="pavc-pref" value="right" required>
        ||
        {% for i in range(1, 10) %}
        <label>{{ i }}</label>
        <input type="radio" name="pavc" value="{{ i }}" required>
        {% endfor %}
        <br><br>

        <h2>Amenity 2 vs Amenity 3</h2>
        <label>Left option better</label>
        <input type="radio" name="pbvc-pref" value="left" required>
        <label>Right option better</label>
        <input type="radio" name="pbvc-pref" value="right" required>
        ||
        {% for i in range(1, 10) %}
        <label>{{ i }}</label>
        <input type="radio" name="pbvc" value="{{ i }}" required>
        {% endfor %}
        <br><br>

        <input type="submit" value="Calculate FMI">
    </form>
    <br>
    <p>AHP Scale: 1- Equal Importance, 3- Moderate importance, 5- Strong importance, 7- Very strong importance, 9-
        Extreme importance (2,4,6,8 values in-between).</p>
</body>

</html>